<template>

    <SimplePage :title='title'>
      <div class="container">
        <br>
        <div class="col-md-12" v-html="data.contenido"></div>

        <div v-if="data.articulos_referencias && data.articulos_referencias.length > 0">
          <h3> Referencias </h3>
          <div>
            <template v-for="(refs, i) in data.articulos_referencias">
              <v-ons-card v-if="$route.params.id != refs.id_articulo" :key='i' @click="$router.push('/wiki/articulo/'+refs.id_articulo)">
                {{refs.titulo}}
              </v-ons-card>
            </template>
          </div>
        </div>

      </div>
    </SimplePage>

</template>

<script>
  import SimplePage from '@/components/templates/SimplePage.vue'
  import Articulo_service from '@/services/Articulo_service'

  export default {
    created () {
    this.loadPage()
    },
    mounted () {

    },
    data () {
      return {
        title: 'Articulo',
        data: {}
      }
    },
    watch: {
      '$route' : 'loadPage'
    },
    components: {
      SimplePage
    },
    methods: {
      loadPage() {
        var parent = this
        this.$emit('changeTitle','Artículo')
        Articulo_service.get({id_articulo: this.$route.params.id}).then( (response) => {
          parent.data = response
          parent.title = response.titulo
        } )
      }
    }
  }
</script>
