<template>
  <SimplePage :title='title'>
    <v-ons-tabbar swipeable position="bottom"
      :tabs="tabs"
      :visible="true"
      :index.sync="activeIndex"
    >
    </v-ons-tabbar>
  </SimplePage>
</template>

<script>
// @ is an alias to /src
import SimplePage from '@/components/templates/SimplePage.vue'

import Reciclable from '../tabs/Reciclable.vue'
import NoReciclable from '../tabs/NoReciclable.vue'
import FAQ from '../tabs/FAQ'

export default {
  components: {
    SimplePage
  },
  created () {
    this.$emit('changeTitle', 'Wiki')
  },
  data() {
    return {
      activeIndex: 0,
      tabs: [
        {
          icon: 'fa-question-circle',
          label: 'FAQ',
          page: FAQ,
          props: {
            myProp: 'This is a page prop!'
          },
          key: "1"
        },
        {
          icon: 'fa-recycle',
          label: 'Reciclable',
          page: Reciclable,
          key: "2"
        },
        {
          icon: 'fa-ban',
          label: 'No reciclable',
          page: NoReciclable,
          key: "3"
        }
      ]
    };
  },
  methods: {
    md() {
      return this.$ons.platform.isAndroid();
    }
  },
  computed: {
    title() {
      return this.tabs[this.activeIndex].label;
    }
  }
}
</script>
<style scoped>
  .center {
    margin:0 auto;
  }

  .menu {
    margin:10px auto;
    box-sizing: border-box;
  }
</style>
