<template>
  <SimplePage v-bind:showToolbar="false" v-bind:title="title" v-bind:showReturnButton="false">

    <div class="container">

      <div class="row">
        <div class="col-sm-8 center">
          <v-ons-card style="padding:1% 5% 5%;">
              <div class="title">
                <h1> Ingresar </h1>
              </div>
              <div class="content">
                <form @submit.prevent="login()">
                    <div class="row rowform">
                      <div class="col-sm-12">
                        <v-ons-input style="width:100%" placeholder="e-mail" float v-model="email">
                        </v-ons-input>
                      </div>
                    </div>

                    <div class="row rowform">
                      <div class="col-sm-12">
                        <v-ons-input style="width:100%" type="password" placeholder="Contraseña" float v-model="password">
                        </v-ons-input>
                      </div>
                    </div>

                    <div class="row rowform">
                      <div class="col-sm-12">

                        <v-ons-button modifier="large" style="margin: 6px 0" @click="login"> Ingresar  </v-ons-button>
                        <v-ons-button modifier="large" style="margin: 6px 0" @click="$router.push('registrarse')"> Crear nueva cuenta </v-ons-button>

                      </div>
                    </div>
                </form>

              </div>
           </v-ons-card>
        </div>
      </div>
    </div>
    <v-ons-dialog
      cancelable
      :visible.sync="dialogVisible"
    >
    <div style="padding:1vw 3vw">
      <p style="white-space: pre-line; max-width:100vw; word-wrap: break-word; text-align:left;" v-html="dialogMSG"> </p>
    </div>

    </v-ons-dialog>
  </SimplePage>
</template>

<script>

import SimplePage from '@/components/templates/SimplePage.vue'
import Login_service from '@/services/Login_service'

export default {

  name: 'Login',

  components: {
    SimplePage,
  },

  data () {
    return {
      title: 'Ingresar',
      email: '',
      password: '',
      dialogVisible: false,
      dialogMSG: ""
    }
  },
  methods: {
    login() {

      var email = this.email.toLowerCase();
      var password = this.password;

      if ( this.validEmail(email) && password != "" ) {

        Login_service.login( email, password).then( () => {
          this.$router.push('/')
        }).catch( (err)=>{
          this.showDialog(err)
        } )

      } else {
        this.showDialog('<h3>Complete los campos correctamente </h3>')
      }

    },
    showDialog( msg ) {
      this.dialogVisible = true;
      this.dialogMSG = msg
    },
    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  }
}
</script>

<style>

  .rowform {
    padding: 10px 0 ;
  }

</style>
