<template>
  <SimplePage v-bind:showToolbar="true" v-bind:title="title" v-bind:showReturnButton="true">

    <div class="container login">

      <div class="row">
        <div class="col-sm-8 center">
          <v-ons-card style="padding:1% 5% 5%;">

              <div class="content">

                <div class="row rowform">
                  <div class="col-sm-12">
                    <v-ons-input style="width:100%" placeholder="Email" float v-model="email">
                    </v-ons-input>
                  </div>
                </div>

                <div class="row rowform">
                  <div class="col-sm-12">
                    <v-ons-input style="width:100%" placeholder="Nombre de usuario" float v-model="username">
                    </v-ons-input>
                  </div>
                </div>

                <div class="row rowform">
                  <div class="col-sm-12">
                    <v-ons-input type="password" style="width:100%" placeholder="Contraseña" float v-model="password">
                    </v-ons-input>
                  </div>
                </div>

                <div class="row rowform">
                  <div class="col-sm-12">
                    <v-ons-button @click="registrarse()"> Registrarse </v-ons-button>
                  </div>
                </div>

                <v-ons-dialog
                  cancelable
                  :visible.sync="dialogVisible"
                >
                <div style="padding:1vw 3vw">
                  <p style="white-space: pre-line; max-width:100vw; word-wrap: break-word; text-align:left;" v-html="dialogMSG"> </p>
                </div>

                </v-ons-dialog>

              </div>
           </v-ons-card>
        </div>
      </div>
    </div>

  </SimplePage>
</template>

<script>

import SimplePage from '@/components/templates/SimplePage.vue'

import Login_service from '@/services/Login_service'

export default {

  name: 'Login',

  components: {
    SimplePage,
  },
  created () {
  },
  data () {
    return {
      dialogMSG: '',
      dialogVisible: false,
      title: 'Registrarse',
      username: '',
      password: '',
      email: ''
    }
  },

  methods: {
    registrarse () {
      var parent = this

      var username = this.username
      var password = this.password
      var email = this.email.toLowerCase()

      if (
        username.length >= 5 &&
        password.length >= 5 &&
        this.validEmail( email )
      ) {
        Login_service.registrarse( {
          username: username,
          password: password,
          email: email
        } ).then( () => {
          parent.showDialog('Registro exitoso!.\n Espere por favor.')

          setTimeout( function() {
            Login_service.login( email, password ).then( () => {
              parent.$router.push('/')
            }).catch( (err)=>{
              parent.showDialog(err)
            })

          },2000)


        } ).catch( (error) => {
          parent.showDialog(error)
        })
      } else {
        this.showDialog(
          '<h3>Complete todos los campos.</h3>'+
            '<ul>'+
            '<li> El nombre de usuario debe tener 5 caracteres o más. </li>'+
            '<li> El password debe tener 5 caracteres o más.</li>'+
            '<li> El email debe ser válido'+
            '</ul>')
      }

    },
    showDialog( msg ) {
      this.dialogVisible = true;
      this.dialogMSG = msg
    },
    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  }
}
</script>

<style>

  .rowform {
    padding: 10px 0 ;
  }

</style>
