<template>
  <v-ons-page>
    <div class="container fitHeight">
      <div class="row fitHeight">
        <div v-if="!tipo_seleccionado.terminado" class="col-sm-8 center">
          <template  v-for="(item,i) in items">
            <v-ons-card :key='i' :ref="'card'+i" @click="boton_seleccionado('card'+i, item)">
              {{ item.nombre }}
            </v-ons-card>
          </template>
          <v-ons-button @click="mostrar_mapa()"> Continuar </v-ons-button>
        </div>

        <div v-if="tipo_seleccionado.terminado" class='col-sm-12'>
          <div class="menu_ubicacion">
            <h1> Seleccionar ubicación </h1>
            <button @click="tipo_seleccionado.terminado = !tipo_seleccionado.terminado">
              <div class="inner">
                Regresar
              </div>
            </button>
            <button @click="guardar()">
              <div class="inner">
                Listo
              </div>
            </button>
          </div>
          <Mapa v-on:ubicacion_seleccionada='nueva_ubicacion($event)' class="fitHeight"></Mapa>
        </div>

      </div>

    </div>

    <v-ons-dialog
      cancelable
      :visible.sync="dialog.visible"
    >
    <div style="padding:1vw 3vw">
      <p style="white-space: pre-line; max-width:100vw; word-wrap: break-word; text-align:left;" v-html="dialog.msg"> </p>
    </div>

    </v-ons-dialog>

  </v-ons-page>
</template>

<script>
// @ is an alias to /src
import Tipo_residuo_service from '@/services/Tipo_residuo_service'
import Residuo_reciclable_service from '@/services/Residuo_reciclable_service'

import Ubicacion from '@/models/Ubicacion'
import Mapa from '@/components/Mapa.vue'

export default {
  created () {
    var parent = this
    Tipo_residuo_service.loadList().then((response)=>{
      parent.items = response.data
    })
  },
  data () {
    return {
      tipo_seleccionado: {
        elemento_boton: null,
        dato: null,
        terminado: false,
        ubicacion_seleccionada: null
      },
      dialog: {
        visible: false,
        msg: ""
      },
      items: [

      ]
    }
  },
  methods: {
    guardar() {
      var parent = this
      Residuo_reciclable_service.guardar({
        ubicacion: this.ubicacion_seleccionada,
        tipo_residuo: this.tipo_seleccionado.dato
      }).then( ()=>{
        parent.showDialog(" <h4> Guardado.</h4> Gracias por reciclar ! ")
        setTimeout( function() {
          parent.reset()
        }, 2000)
      })
    },
    showDialog( msg ) {
      this.dialog.visible = true;
      this.dialog.msg = msg
    },
    reset() {
      this.tipo_seleccionado.dato = null
      this.tipo_seleccionado.elemento_boton = null
      this.tipo_seleccionado.terminado = false
      this.tipo_seleccionado.ubicacion_seleccionada = null
    },
    nueva_ubicacion(latlng) {
      this.ubicacion_seleccionada = new Ubicacion()
      this.ubicacion_seleccionada.LatLng = latlng

    },
    mostrar_mapa() {
      if(this.tipo_seleccionado.elemento_boton !== null)
        this.tipo_seleccionado.terminado = true
    },
    boton_seleccionado (ref, item) {
      if(this.tipo_seleccionado.elemento_boton !== null)
        this.tipo_seleccionado.elemento_boton.classList.remove('tipo_seleccionado')

      this.tipo_seleccionado.elemento_boton = this.$refs[ref][0].$el
      this.tipo_seleccionado.elemento_boton.classList.add('tipo_seleccionado')

      this.tipo_seleccionado.dato = item
    }
  },
  components: {
    Mapa
  }
}
</script>
<style scoped>

  .menu_ubicacion {
    position: absolute;
    margin: 10px 0 0 41px;
    box-sizing: border-box;
    background: #fff;
    height: 64px;
    border: 2px solid #ccc;
    border-color:rgba(0,0,0,0.2);
    z-index: 11111;
    padding: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .menu_ubicacion h1 {
    font-size:13px;
    padding:5px 0;
    margin:0;
    font-weight:bold;
  }

  .menu_ubicacion button .inner {
    padding:5px 5px;
    margin-right: 1px;
  }

  .menu_ubicacion button {
    padding:0;
    background:#FFF;
    border:1px solid gainsboro;
    border-radius: 2px;
  }

  .menu_ubicacion button:hover {
    background:#EEE;
  }

  .menu_ubicacion button:active, .menu_ubicacion button:focus {
    border-color:#CCC;
  }


  .tipo_seleccionado {
    background: gainsboro;
  }

  .center {
    margin:0 auto;
  }

  .menu {
    margin:10px auto;
    box-sizing: border-box;
  }
</style>
