<template>
  <v-ons-page>
    <div class="container">
      <div class="row">
        <div class="menu col-md-8">

          <h1> Mis aportaciones </h1>

          <template v-for="(item,i) in items">

              <div class="row" :key="i">
                <div class="center col-md-12">
                  <ons-card>
                    <div class="row">
                      <div class="col-md-9">
                        <div class="title">
                          <h3> {{ item.tipo_residuo.nombre }} </h3>
                        </div>
                        <div class="content">
                          <img src="/images/mapa.jpg" />
                          <div>
                            <p> Ubicacion: {{ item.ubicacion.longitud + " "+item.ubicacion.latitud }} </p>
                            <p> Enviado el: {{ item.created_at }} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ons-card>
                </div>
              </div>

          </template>
        </div>
      </div>
    </div>
  </v-ons-page>
</template>

<script>
// @ is an alias to /src
import Residuo_reciclable_service from '@/services/Residuo_reciclable_service'

export default {
  created () {
    var parent = this
    this.loadPosts()

    this.$store.commit('addEventListener', (evento) => {
      if ( evento == 'tabChanged')
        parent.loadPosts()
    })
  },
  data () {
    return {
      items: [

      ]
    }
  },
  components: {

  },
  methods: {
    loadPosts () {
      var parent = this
      Residuo_reciclable_service.loadList({page:1, limit:5}).then( (response)=>{
        parent.items = response.data
      })
    }
  }
}
</script>
<style scoped>
  .center {
    margin:0 auto;
  }
  img {
    max-width:100%;
  }
  .menu {
    margin:10px auto;
    box-sizing: border-box;
  }
</style>
