<template>
  <div>
    <q-layout-header>
      <q-toolbar color="primary">
        <q-toolbar-title>
          Quasar App
          <div slot="subtitle">Running on Quasar v{{ $q.version }}</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>
    <q-page-container>
      <q-page class="flex flex-center">
        <img alt="Quasar logo" src="../assets/logo.png">
      </q-page>
    </q-page-container>
  </div>
</template>

<style>
</style>

<script>
export default {
  name: 'HelloWorld'
}
</script>
