<template>
  <l-map ref="map" :zoom="zoom" :center="center">
    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
    <l-marker ref="marker":lat-lng="marker" :draggable="true"></l-marker>
  </l-map>
</template>

<script>
  import Vue2Leaflet from 'vue2-leaflet'
  var { LMap, LTileLayer, LMarker } = Vue2Leaflet;

  export default {
  components: { LMap, LTileLayer, LMarker },
  mounted () {
    var parent = this
    this.$nextTick(() => {
      var marker = this.$refs.marker.mapObject
      var map = this.$refs.map.mapObject // work as expected
      parent.$emit('ubicacion_seleccionada', marker.getLatLng() )

      map.on('click', function(e) {
        marker.setLatLng(e.latlng)
        parent.$emit('ubicacion_seleccionada', e.latlng)
      })

      marker.on('dragend', function(e) {
        parent.$emit('ubicacion_seleccionada', marker.getLatLng() )
      })

    })


  },
  data() {
    return {
      zoom:13,
      center: L.latLng(-25.343188917559885, -57.60488888248802),
      url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      marker: L.latLng(-25.343188917559885, -57.60488888248802),
    }
  }
  }
</script>
