<template>
  <v-ons-page>
    <div class="container fitHeight">
      <div class="row fitHeight">
        <div class="col-sm-8 center fitHeight">

            <div class="content fitHeight">
              <form class="fitHeight" @submit.prevent="login()">

                  <div v-if="formularioPaso == 1">
                    <br>
                    <div class="row rowform">
                      <div class="col-sm-12">
                        <v-ons-input style="width:100%" placeholder="Título" float v-model="denuncia.titulo">
                        </v-ons-input>
                      </div>
                    </div>

                    <div class="row rowform">
                      <div class="col-sm-12">
                        <textarea class="textarea" rows="3" placeholder="Descripcion" style="width:100%" v-model="denuncia.descripcion"></textarea>
                      </div>
                    </div>

                    <div class="row rowform">
                      <div class="col-sm-12">
                        <template v-for="( imagenSrc, i) in denuncia.imagenesSrc">
                          <img v-bind:src="imagenSrc" @click="verImagen( imagenSrc, i)" :class="'miniatura imagen-'+i"/>
                        </template>
                      </div>
                    </div>

                    <div class="row rowform">
                      <div class="col-sm-12">
                        <v-ons-button @click="loadCamera()"> <ons-icon icon="ion-ios-camera, material:ion-md-camera" size="17px"></ons-icon> </v-ons-button>
                        <v-ons-button @click="selectImage()"> <ons-icon icon="ion-ios-photos, material:ion-md-photos" size="17px"></ons-icon> </v-ons-button>
                      </div>
                    </div>

                    <div class="row rowform">
                      <div class="col-sm-12">
                        <v-ons-button @click="formularioPaso = 2" modifier="large"> Siguiente </v-ons-button>
                      </div>
                    </div>
                  </div>

                  <div v-if="formularioPaso == 2" class="row rowform fitHeight">
                    <div class="col-sm-12 fitHeight">
                      <div>
                        Seleccione la ubicación<br>
                        <v-ons-button @click="formularioPaso = 1"> Atrás </v-ons-button>
                        <v-ons-button> Guardar </v-ons-button>
                        <br><br>
                      </div>
                      <div style="height:80%">
                        <Mapa v-on:ubicacion_seleccionada='nueva_ubicacion($event)' class="fitHeight"></Mapa>
                      </div>
                    </div>
                  </div>

              </form>
            </div>

        </div>
      </div>
    </div>

    <v-ons-modal  :visible="imagenVisualizada.src !== null">
      <div class="col-sm-8 center">

        <img :src='imagenVisualizada.src' style="max-height:75vh;max-width:100%;" />
        <div style="max-width:500px; margin:0 auto;">
          <v-ons-button
                  modifier="large"
                  style="margin: 6px 0"
                  @click="removerImagenSeleccionada();imagenVisualizada.src = null; "
                  >
              Eliminar
          </v-ons-button>

          <v-ons-button
              @click="imagenVisualizada.src = null"
              modifier="large"
              style="margin: 6px 0">
              Cerrar
          </v-ons-button>
        </div>
      </div>
    </v-ons-modal>

  </v-ons-page>
</template>

<script>
// @ is an alias to /src
import Mapa from '@/components/Mapa.vue'
import Ubicacion from '@/models/Ubicacion'

export default {
  data () {
    return {
      ubicacion_seleccionada: null,
      denuncia: {
        titulo: '',
        descripcion: '',
        imagenesSrc: [
          "https://cdnmundo1.img.sputniknews.com/images/107610/36/1076103636.jpg",
          "https://www.cronista.com/__export/1529613634360/sites/diarioelcronista/img/2018/04/27/basura.jpg_258117318.jpg",
          "https://notiespartano.com/wp-content/uploads/2018/04/8863e52be948415bb9e0b0c8ec2c130c.jpg"
        ]
      },
      formularioPaso: 1,
      imagenVisualizada: {
        src: null,
        index: null
      }
    }
  },
  mounted () {
    if ( window.myData.deviceready != true) {
      document.addEventListener('deviceready', function() {
        window.myData.deviceready = true;
        console.log(window.myData.deviceready )
      });
    }
  },
  components: {
    Mapa
  },
  methods: {
    verImagen (imagenSrc, i) { // agregar imagen visualizada y mostrarla en el modal
      this.imagenVisualizada.index = i
      this.imagenVisualizada.src = imagenSrc
    },
    removerImagenSeleccionada () { // eliminar del array de imagenes, la seleccionada
      this.denuncia.imagenesSrc.splice(this.imagenVisualizada.index,1)
    },
    nueva_ubicacion(latlng) {
      this.ubicacion_seleccionada = new Ubicacion()
      this.ubicacion_seleccionada.LatLng = latlng
    },
    selectImage() {
        var parent = this;
        if( !(window.myData.deviceready == true) )
          return;

        let opts = {
            quality: 80,
            destinationType: Camera.DestinationType.DATA_URL,
            sourceType: Camera.PictureSourceType.SAVEDPHOTOALBUM,
            mediaType: Camera.MediaType.PICTURE,
            targetWidth: 300,
            targetHeight: 400,
            correctOrientation: true
        };

        navigator.camera.getPicture(function cameraSuccess(imageData) {
          parent.denuncia.imagenesSrc.push("data:image/jpeg;base64," + imageData);
        }, function cameraError(error) {
            console.debug("Unable to obtain picture: " + error, "app");
        }, opts);
    },
    loadCamera () {
      var parent = this;
      if( !(window.myData.deviceready == true) )
        return;

      let opts = {
          quality: 80,
          destinationType: Camera.DestinationType.DATA_URL,
          sourceType: Camera.PictureSourceType.CAMERA,
          mediaType: Camera.MediaType.PICTURE,
          encodingType: Camera.EncodingType.JPEG,
          cameraDirection: Camera.Direction.BACK,
          correctOrientation: true,
          targetWidth: 300,
          targetHeight: 400
      };

      navigator.camera.getPicture( ( imageData ) => {
        parent.denuncia.imagenesSrc.push("data:image/jpeg;base64," + imageData);
      }, (err) => { console.log(err) }, opts);
    }
  }
}
</script>
<style scoped>

  img.miniatura {
    max-width:50%;
    width:calc(150px + 10%);
    padding:2px;
    border:1px solid whitesmoke;
  }

  .center {
    margin:0 auto;
    float:none;
  }

  .menu {
    margin:10px auto;
    box-sizing: border-box;
  }

  .rowform {
    padding: 10px 0 ;
  }
</style>
