<template>
  <v-ons-page>
    <div class="container">
      <div class="row">
        <div class="menu col-md-8">

          <h1> Mis denuncias </h1>

          <template v-for="(item,i) in items">

              <div class="row" :key="i">
                <div class="center col-md-12">
                  <ons-card>
                    <div class="row">
                      <div class="col-md-3">
                        <img :src="item.imagen" alt="foto denuncia" style="width: 100%">
                      </div>
                      <div class="col-md-9">
                        <div class="title">
                          {{item.tipo}}
                        </div>
                        <div class="content">
                          <div>
                            <p> Descripción: {{ item.descripcion }} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ons-card>
                </div>
              </div>

          </template>
        </div>
      </div>
    </div>
  </v-ons-page>
</template>

<script>
// @ is an alias to /src

export default {
  data () {
    return {
      items: [
        { imagen: "https://cdnmundo1.img.sputniknews.com/images/107610/36/1076103636.jpg", tipo: 'Terreno sucio', descripcion: 'Sucio sucio sucio'},
        { imagen: "https://www.cronista.com/__export/1529613634360/sites/diarioelcronista/img/2018/04/27/basura.jpg_258117318.jpg", tipo: 'Agua servida',  descripcion: 'Oloroso oloroso oloroso'},
        { imagen: "https://notiespartano.com/wp-content/uploads/2018/04/8863e52be948415bb9e0b0c8ec2c130c.jpg", tipo: 'Animales enfermos',  descripcion: 'perro enfermo' },
        { imagen: "https://cdnmundo1.img.sputniknews.com/images/107610/36/1076103636.jpg", tipo: 'Calle',  descripcion: 'bache' }
      ]
    }
  },
  components: {

  }
}
</script>
<style scoped>
  .center {
    margin:0 auto;
  }

  .menu {
    margin:10px auto;
    box-sizing: border-box;
  }
</style>
