<template>
  <v-ons-page>

    <div class="container">
      <div class="row" v-if="categoria">
        <template v-for="articulo in categoria.articulos">
          <v-ons-card class="col-md-12" @click="$router.push('/wiki/articulo/'+articulo.id_articulo)">
            {{ articulo.titulo }}
          </v-ons-card>
        </template>
      </div>
    </div>
  </v-ons-page>

</template>

<script>
  import SimplePage from '@/components/templates/SimplePage.vue'
  import Categoria_service from '@/services/Categoria_service'

  export default {
    created () {
      var parent = this
      Categoria_service.getArticulos( {id_categoria:2} ).then( (response) => {
        parent.categoria = response
      } )
    },
    data () {
      return {
        title: "Wiki",
        categoria: null
      }
    },
    components: {
      SimplePage
    }
  }
</script>
