<template>

    <router-view></router-view>

</template>

<style>
  /* CSS goes here */
</style>

<script>
import Login_service from '@/services/Login_service'
export default {
  components: {

  },
  created () {

    var platform_ios = localStorage.getItem('platform_ios')
    if( platform_ios !== null) {
      this.$store.commit('platform_ios', platform_ios == 'true' )
    }
    this.$ons.platform.select( this.$store.getters.platform_ios ? 'ios':'android' )

    Login_service.check_login(this.$router)


  },

  updated () {
    Login_service.check_login(this.$router)
  }

}
</script>

<style>
  .fitHeight {
    height:100%;
  }

  .row ons-card.card {
    margin:0 inherit;
  }

  .center {
    margin: 0 auto;
    float: left;
  }
</style>
