<template>

  <v-ons-toolbar>
    <div class="left">
      <v-ons-toolbar-button v-on:click="$emit('navEvt')" style="position:relative">
        <v-ons-icon icon="ion-navicon, material: md-menu"></v-ons-icon>
      </v-ons-toolbar-button>
    </div>
    <div class="center">
      <slot></slot>
    </div>
    <div class="right">

    </div>
  </v-ons-toolbar>



</template>
<script>
  export default {
    name:"Toolbar",
    data() {
      return {
      }
    }
  }
</script>
