<template>
  <v-ons-page>

    <NotificacionConfirmar
      :mostrar.sync="notificacion.mostrar"
      v-bind:titulo="notificacion.titulo"
      v-on:aceptado="this.notificacion.aceptado"
      v-on:cancelado="this.notificacion.cancelado"
      > </NotificacionConfirmar>

    <v-ons-list>
      <v-ons-list-title>
        Navegador
      </v-ons-list-title>
      <template v-for="(page,i) in pages">

        <v-ons-list-item
          v-if="!page.action"
          :key="i"
          tappable modifier="chevron"
          @click="$router.push(page.route);
          $emit('clickedNav')">

          <div v-if="!page.action" class="center">{{ page.name }}</div>
        </v-ons-list-item>

        <v-ons-list-item
           v-if="page.action == 'cerrar_sesion'"
          :key="i" tappable modifier="chevron"
          @click="preguntar_cerrar_sesion(); $emit('clickedNav')">

          <div class="center">{{ page.name }}</div>
        </v-ons-list-item>

      </template>
    </v-ons-list>
  </v-ons-page>
</template>

<script>
  import Login_service from '@/services/Login_service'
  import NotificacionConfirmar from '@/components/notificaciones/NotificacionConfirmar.vue'

  export default {
    name:"ToolbarNav",
    created () {
      this.pages = this.$store.getters.navPages
    },
    components: {
      NotificacionConfirmar
    },
    data() {
      return {
        pages: [],
        notificacion: {
          titulo: '',
          mostrar: false,
          aceptado: () => {},
          cancelado: () => {}
        }
      }
    },
    methods: {
      preguntar_cerrar_sesion () {
        var parent = this;
        // Preguntar primero (implementar)
        this.notificacion.titulo = '¿Cerrar sesión?'

        this.notificacion.aceptado = function () {
          parent.cerrar_sesion()
        }

        this.notificacion.cancelado = function () {
          parent.resetNotificacion()
        }

        this.notificacion.mostrar = true;
      },

      resetNotificacion () {
        this.notificacion = {
          titulo: '',
          mostrar: false,
          aceptado: () => {},
          cancelado: () => {}
        }
      },

      cerrar_sesion( ) {

        Login_service.cerrar_sesion().then( () => {
          this.$router.push('/login')
        } )

      }
    }
  }
</script>
