<template>

  <v-ons-alert-dialog modifier="rowfooter"
    :visible.sync="isVisible">
    <span slot="title"> {{ titulo }} </span>

    {{ contenido }}

    <template slot="footer">
      <v-ons-alert-dialog-button @click="$emit('cancelado'); close()"> {{ msgCancelar }} </v-ons-alert-dialog-button>
      <v-ons-alert-dialog-button @click="$emit('aceptado'); close()"> {{ msgAceptar }} </v-ons-alert-dialog-button>
    </template>
  </v-ons-alert-dialog>

</template>
<script>

export default {
  name: 'NotificacionConfirmar',
  data () {
    return {
      isVisible: false
    }
  },
  props: {
    mostrar: {
      default: false,
      type: Boolean
    },
    msgCancelar: {
      type: String,
      default: 'Cancelar'
    },
    msgAceptar: {
      type: String,
      default: 'Aceptar'
    },
    titulo: {
      default: 'Confirme la acción',
      type: String
    },
    contenido: {
      type: String,
      default: ''
    }
  },
  methods: {
    close() {
      this.$emit('update:mostrar',false)
    }
  },
  watch: {
    mostrar: function( newVal, oldVal) {
      this.isVisible = newVal
    }
  }
}
</script>
