<template>
  <SimplePage v-bind:title="title">
    <v-ons-page>

    <h1> Extras </h1>

    <div id="app">
        <graph-area-timerange
              :width="600"
              :height="400"
              :axis-min="0"
              :axis-max="100"
              :axis-reverse="false"
              :axis-format="'HH:mm'"
              :axis-interval="1000 * 60 * 60 * 8"
              :labels="labels"
              :values="values">
            <note :text="'Area Chart'"></note>
            <guideline :tooltip-x="true" :tooltip-y="true"></guideline>
       </graph-area-timerange>
   </div>

    </v-ons-page>
  </SimplePage>
</template>

<script>

import SimplePage from '@/components/templates/SimplePage.vue'

export default {


components: {
  SimplePage,
},


data() {
  return {
    title: "Extras",
    labels: [ new Date("2018-07-07 00:00:00"), new Date("2018-07-08 00:00:00") ],
    values: [
        [ new Date("2018-07-07 00:00:00"), 55 ],
        [ new Date("2018-07-07 12:42:33"), 30 ],
        [ new Date("2018-07-07 15:11:12"), 70 ],
        [ new Date("2018-07-07 19:12:00"), 90 ],
        [ new Date("2018-07-08 00:00:00"), 45 ]
    ]
  }
}
}
</script>
