<template>
  <SimplePage v-bind:title="title">
    <v-ons-page>

        <v-ons-tabbar position="bottom"
          :tabs="tabs"
          :visible="true"
          :index.sync="activeIndex"
          v-on:postchange="notifyTabs">
        </v-ons-tabbar>

    </v-ons-page>
  </SimplePage>
</template>

<script>
// @ is an alias to /src
import SimplePage from '@/components/templates/SimplePage.vue'

import Aportaciones from './tabs/Aportaciones.vue'
import Agregar from './tabs/Agregar.vue'

export default {
  components: {
    SimplePage
  },
  beforeDestroy () {
    this.$store.commit('destroyEventListeners')
  },
  data() {
    return {
      activeIndex: 0,
      tabs: [
        {
          icon: 'ion-ios-mail, material:fa-envelope',
          label: 'Aportaciones',
          page: Aportaciones,
          key: "1"
        },
        {
          icon: 'ion-ios-add-circle, material:fa-plus-circle',
          label: 'Agregar',
          page: Agregar,
          key: "2"
        }
      ]
    };
  },
  methods: {
    notifyTabs() {
      this.$store.commit('emitEvent',{ evento:'tabChanged' })
    },
    md() {
      return this.$ons.platform.isAndroid();
    }
  },
  computed: {
    title() {
      return this.tabs[this.activeIndex].label;
    }
  }
}
</script>
<style scoped>
  .center {
    margin:0 auto;
  }

  .menu {
    margin:10px auto;
    box-sizing: border-box;
  }
</style>
