<template>
  <SimplePage v-bind:title='title'>

    <div class="about">
      <h3> Objetivos generales. </h3>
      <ul>
        <li>Contribuir en la creación y/o extensión de sistemas que permitan el tratamiento correcto de los residuos para su posterior desecho, almacenaje y/o reciclaje.</li>
        <li>Registrar y administrar los residuos reciclables desechados de una zona urbana o suburbana.</li>
        <li>Mantener un registro de las personas y empresas que se dedican a la actividad de reciclaje.</li>
        <li>Ofrecer información a los ciudadanos, acerca de los residuos reciclables y no reciclables; orientar sobre el tratamiento de los mismos.</li>
        <li>Facilitar a los municipios y/o empresas dedicadas al reciclaje la administración de sus recursos en el área y poner en rigor las normas correspondientes, sean del negocio o leyes.</li>
        <li>Ofrecer medios de denunciar hechos referentes al medio ambiente y permitir su administración por parte de un tercero.</li>
        <li>Crear herramientas de software que ofrezcan utilidades referentes al medio ambiente.</li>
      </ul>

      <br/>

      <h3> Objetivos específicos. </h3>
      <ul>
        <li> Contribuir en la creación y/o extensión de sistemas que permitan el tratamiento correcto de los residuos para su posterior desecho, almacenaje y/o reciclaje.</li>
        <li> Registrar y administrar los residuos reciclables desechados de una zona urbana o suburbana.</li>

        <li>Mantener un registro de las personas y empresas que se dedican a la actividad de reciclaje.</li>
        <li>Ofrecer información a los ciudadanos, acerca de los residuos reciclables y no reciclables; orientar sobre el tratamiento de los mismos.</li>
        <li>Facilitar a los municipios y/o empresas dedicadas al reciclaje la administración de sus recursos en el área y poner en rigor las normas correspondientes, sean del negocio o leyes.</li>
        <li>Ofrecer medios de denunciar hechos referentes al medio ambiente y permitir su administración por parte de un tercero.</li>
        <li>Crear herramientas de software que ofrezcan utilidades referentes al medio ambiente.</li>
      </ul>

    </div>
  </SimplePage>

</template>

<script>
  import SimplePage from '@/components/templates/SimplePage.vue'
  export default {
    data () {
      return {
        title: "Reciclapy"
      }
    },
    components: {
      SimplePage
    }
  }
</script>
<style scoped>

.about {
  padding:5px 10px 5px 10px;
}
</style>
