<template>
  <HomePage>
    <div ref='maindiv' class="home container">
        <div class="menu">
          <template v-for="(boton,i) in botones">

              <div class="row" :key="i">
                <div class="col-md-5 center">
                  <v-ons-button modifier="large" style="margin: 6px 0" @click="$router.push(boton.ruta)">
                    <ons-icon class="icon" :icon="boton.icono">&nbsp;</ons-icon>{{boton.nombre}}
                  </v-ons-button>
                </div>
              </div>

          </template>
        </div>
    </div>
  </HomePage>
</template>

<script>
// @ is an alias to /src

import HomePage from '@/components/templates/HomePage.vue'

export default {
  name: 'home',
  created () {

  },

  data () {
    return {
      botones: [
        { icono: "fa-recycle", nombre: "Reciclar", ruta: "reciclar"},
        { icono: "fa-graduation-cap", nombre: "Aprender", ruta: "wiki"},
        { icono: "fa-flag", nombre: "Denuncias", ruta: "denuncias"},
        { icono: "ion-ios-construct, material:ion-md-construct", nombre: "Extras", ruta: ""},
      ]
    }
  },
  components: {
    HomePage
  }
}
</script>
<style scoped>

  .center {
    margin:0 auto;
  }
  .icon {
    font-size:24px;
    vertical-align: middle;
  }
  .menu {
    margin:10px;
    box-sizing: border-box;
  }
</style>
