<template>
  <div class="home container">

    <div class="row">
      <template v-for="item in 15">
        <div class="col-md-12">
          <ons-card>
            <div class="row">
              <div class="col-md-3">
                <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI" style="width: 100%">
              </div>
              <div class="col-md-9">
                <div class="title">
                  Awesome framework
                </div>
                <div class="content">
                  <div>
                    <ons-button><ons-icon icon="ion-thumbsup"></ons-icon></ons-button>
                    <ons-button><ons-icon icon="ion-share"></ons-icon></ons-button>
                  </div>
                </div>
              </div>
            </div>
          </ons-card>
        </div>
      </template>
    </div>


  </div>
</template>

<script>
// @ is an alias to /src


export default {
  components: {

  }
}
</script>
