<template>
  <FadeTransition>
    <v-ons-page>
      <Toolbar v-on:navEvt="navigatorEvt"> <img class="logo" src="/images/reciclapy.png" alt="logo reciclapy" /> </Toolbar>
      <v-ons-content>
        <v-ons-splitter>
            <v-ons-splitter-side swipeable width="80%" style="max-width:calc(10vw + 250px)" collapse="" side="left" :open.sync="openSide">
              <ToolbarNav v-on:clickedNav="navigatorEvt"></ToolbarNav>
            </v-ons-splitter-side>

            <v-ons-splitter-content style="overflow:scroll;">
                <v-ons-page>
                  <slot></slot>
                </v-ons-page>
            </v-ons-splitter-content>
          </v-ons-splitter>
      </v-ons-content>
    </v-ons-page>
  </FadeTransition>
</template>

<style>
  /* CSS goes here */
</style>

<script>
import Toolbar from "@/components/toolbar/Toolbar.vue"
import ToolbarNav from "@/components/toolbar/ToolbarNav.vue"

import FadeTransition from '../transitions/FadeTransition.vue'

export default {
  name:'HomePage',
  components: {
    Toolbar,
    ToolbarNav,
    FadeTransition
  },
  created () {

  },
  data() {
    return {
      openSide: false
    }
  },
  methods: {
    navigatorEvt() {
      this.openSide = !this.openSide
    }
  }
}
</script>

<style scoped>

  img.logo {
    height: 100%;
    width: auto;
    padding: 5px;
  }

  .row ons-card.card {
    margin:0 inherit;
  }
</style>
