<template>
  <FadeTransition>
    <v-ons-page>
      <v-ons-toolbar v-if="showToolbar" >
        <div v-if="showReturnButton" class="left">
          <v-ons-toolbar-button v-on:click="$router.go(-1)" style="position:relative">
            <v-ons-icon icon="ion-ios-arrow-back, material:ion-md-arrow-back"></v-ons-icon>
          </v-ons-toolbar-button>
        </div>
        <div class="center">
          {{title}}
        </div>
      </v-ons-toolbar>
      <v-ons-content>

        <slot></slot>

      </v-ons-content>
    </v-ons-page>
  </FadeTransition>
</template>

<style>
  /* CSS goes here */
</style>

<script>
import FadeTransition from '../transitions/FadeTransition.vue'

export default {
  name:'SimplePage',
  props: {
    title: String,
    showReturnButton: {
      type: Boolean,
      default: true
    },
    showToolbar: {
      type: Boolean,
      default: true
    }
  },
  components: {
    FadeTransition
  }
}
</script>

<style scoped>
  .row ons-card.card {
    margin:0 inherit;
  }
</style>
