<template>
  <SimplePage v-bind:title="title">

    <v-ons-tabbar position="bottom"
      :tabs="tabs"
      :visible="true"
      :index.sync="activeIndex"
    >
    </v-ons-tabbar>
  </SimplePage>
</template>

<script>
// @ is an alias to /src
import SimplePage from '@/components/templates/SimplePage.vue'

import Aportaciones from './tabs/Aportaciones.vue'
import Agregar from './tabs/Agregar.vue'

export default {
  components: {
    SimplePage
  },
  data() {
    return {
      activeIndex: 0,
      tabs: [
        {
          icon: 'ion-ios-mail, material:fa-envelope',
          label: 'Denuncias',
          page: Aportaciones,
          key: "1"
        },
        {
          icon: 'ion-ios-add-circle, material:fa-plus-circle',
          label: 'Denuncias',
          page: Agregar,
          key: "2"
        }
      ]
    };
  },
  methods: {
    md() {
      return this.$ons.platform.isAndroid();
    }
  },
  computed: {
    title() {
      return this.tabs[this.activeIndex].label;
    }
  }
}
</script>
<style scoped>
  .center {
    margin:0 auto;
  }

  .menu {
    margin:10px auto;
    box-sizing: border-box;
  }
</style>
