<template>

  <div class='customFade'>
    <slot></slot>
  </div>

</template>

<style>
  /* CSS goes here */
</style>

<script>
export default {
  name:'FadeTransition',
  data () {
    return {
      loaded: false
    }
  },

  props: {
    title: String
  },

  mounted () {

  }
}
</script>
<style scoped>

  @-webkit-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  .customFade {
    -webkit-animation: fade .5s ease-out; /* Safari 4+ */
    -moz-animation:    fade .5s ease-out; /* Fx 5+ */
    -o-animation:      fade .5s ease-out; /* Opera 12+ */
    animation:         fade .5s ease-out; /* IE 10+, Fx 29+ */
  }

</style>
