<template>
  <SimplePage v-bind:title='title'>

    <div class="container">
      <h1> Herramientas. </h1>
      <ons-list>
        <ons-list-item>
          <label class="center" for="switch1">
            Estilo actual: {{ switchEstilo ?  'ios' : 'Android' }}
          </label>
          <div class="right">
            <v-ons-switch input-id="switch1"
              v-model="switchEstilo"
            >
            </v-ons-switch>
          </div>
        </ons-list-item>

      </ons-list>
    </div>
  </SimplePage>

</template>

<script>
  import SimplePage from '@/components/templates/SimplePage.vue'
  export default {
    created () {
      this.switchEstilo = this.$store.getters.platform_ios
    },
    data () {
      return {
        title: "Herramientas",
        switchEstilo: null
      }
    },
    watch: {
      switchEstilo: function(newVal, oldVal) {
        if(oldVal == null)
          return;

        window.localStorage.setItem("platform_ios", newVal)
        location.reload()
      }
    },
    components: {
      SimplePage
    }
  }
</script>
