<template>
  <SimplePage v-bind:title='title'>

    <div class="container">
      <h1> Datos de cuenta. </h1>
      <b> Enviados </b>
      <ul>
        <li> <b>Vidrio </b>  123123123</li>
        <li> <b>Carton </b> 123123123</li>
        <li> <b>Plástico </b> 123123123</li>
      </ul>
    </div>
  </SimplePage>

</template>

<script>
  import SimplePage from '@/components/templates/SimplePage.vue'
  export default {
    data () {
      return {
        title: "Mi cuenta"
      }
    },
    components: {
      SimplePage
    }
  }
</script>
